<!DOCTYPE> 
<html> 
    <body> 
        <h1>Pirates</h1>
            <p>Name: <%= @pirate.name %></p><br>
            <p>Weight: <%= @pirate.weight %></p><br>
            <p>Height: <%= @pirate.height %></p><br>
            <br>
        <h2>Ships</h2>
            <% @ships.each do |ship| %>
            <p>Ship Name:<%= ship.name %></p><br>
            <p>Ship Type:<%= ship.type %></p><br>
            <p>Ship Booty:<%= ship.booty %></p><br>
            <% end %>
            <br>
    </body>
</html>