<h1>Pirate Name: <%= @pirate.name %></h1>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>

<h2>Ship 1: <%= @ships[0].name %></h2>
<p>Ship Type: <%= @ships[0].type %></p>
<p>Ship's Booty: <%= @ships[0].booty %></p>

<h2>Ship 1: <%= @ships[1].name %></h2>
<p>Ship Type: <%= @ships[1].type %></p>
<p>Ship's Booty: <%= @ships[2].booty %></p>
