<h1>Pirate Name: <%= @pirate.name %></h1>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>

<% @ships.each do |ship|%>
<h2>Ship: <%= ship.name %></h2>
<p>Ship Types: <%= ship.type %></p>
<p>Ship's Booty: <%= ship.booty %> <% end %></p>